#login * {
  box-sizing: border-box;

}

#login .title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
}
#login .btnRegister {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}